<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Список учителей</title>
</head>
<body>
    <h1 class="mt-4">Список учителей</h1>

    <h2 class="mt-4">Добавить учителя:</h2>
    <form action="/teachers/add" method="post">
        <div class="form-group">
            <label for="name">Имя:</label>
            <input type="text" id="name" name="name" class="form-control" placeholder="Введите имя" required>
        </div>
        <div class="form-group">
            <label for="surname">Фамилия:</label>
            <input type="text" id="surname" name="surname" class="form-control" placeholder="Введите фамилию" required>
        </div>
        <div class="form-group">
            <label for="midlename">Отчество:</label>
            <input type="text" id="midlename" name="midlename" class="form-control" placeholder="Введите отчество" required>
        </div>
        <select name="department" required>
            <option value="" disabled selected>Выберите кафедру</option>
            <div th:each="department : ${departments}">
                <option th:value="${department.id}" th:text="${department.name}"></option>
            </div>
        </select>
        <button type="submit" class="btn btn-primary">Добавить</button>
    </form>

    <h2 class="mt-4">Список всех учителей:</h2>
    <ul class="list-group">
        <th:block th:each="teacher : ${teachers}">
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <span th:text="${teacher.name} + ' ' + ${teacher.surname} + ' ' + ${teacher.midlename} + ' ' + ${teacher.isDeleted()}"></span>
                <th:block th:if="${teacher.getDisciplines().size() > 0}">
                    <p>Дисциплины: </p>
                    <ul>
                        <th:block th:each="discipline: ${teacher.getDisciplines()}">
                            <li>
                                <p th:text="'Преподаватель: ' + ${teacher.surname}"></p>
                            </li>
                        </th:block>
                    </ul>
                </th:block>
                <span th:if="${teacher.isDeleted()}">(Удалена)</span>
                <div>
                    <form action="/teachers/update" method="post" style="display:inline;">
                        <input type="hidden" name="id" th:value="${teacher.id}"/>
                        <input type="text" name="name" th:value="${teacher.name}" placeholder="Имя" required class="form-control d-inline" style="width: 100px;"/>
                        <input type="text" name="surname" th:value="${teacher.surname}" placeholder="Фамилия" required class="form-control d-inline" style="width: 100px;"/>
                        <input type="text" name="midlename" th:value="${teacher.midlename}" placeholder="Отчество" required class="form-control d-inline" style="width: 100px;"/>
                        <select name="department" required>
                            <option value="" disabled selected>Выберите кафедру</option>
                            <div th:each="department : ${departments}">
                                <option th:value="${department.id}" th:text="${department.name}"></option>
                            </div>
                        </select>
                        <button type="submit" class="btn btn-warning btn-sm">Обновить</button>
                    </form>

                    <form action="/teachers/delete" method="post" style="display:inline;">
                        <input type="hidden" name="id" th:value="${teacher.id}"/>
                        <button type="submit" class="btn btn-danger btn-sm" onclick="return confirm('Подтвердите удаление');">Удалить</button>
                    </form>
                    <p>Добавить дисциплину:</p>
                    <th:block th:if="${disciplines} != null">
                        <th:block th:each="discipline : ${disciplines}">
                            <p th:text="'Дисциплина: ' + ${discipline.name}"></p>
                            <form action="/teachers/discipline-add" method="post">
                                <input type="hidden" name="id_discipline" th:value="${discipline.id}">
                                <input type="hidden" name="id_teacher" th:value="${teacher.id}">
                                <button type="submit">Добавить дисциплину</button>
                            </form>
                        </th:block>
                    </th:block>

                </div>
            </li>
        </th:block>
    </ul>

    <h2 class="mt-4">Фильтрация:</h2>
    <form action="/teachers/search" method="get" class="form-inline">
        <label for="name" class="mr-2">Имя:</label>
        <input type="text" name="name" th:value="${name}" placeholder="Введите имя" class="form-control mr-2">
        <label for="surname" class="mr-2">Фамилия:</label>
        <input type="text" name="surname" th:value="${surname}" placeholder="Введите фамилию" class="form-control mr-2">
        <label for="midlename" class="mr-2">Отчество:</label>
        <input type="text" name="midlename" th:value="${midlename}" placeholder="Введите отчество" class="form-control mr-2">
        <button type="submit" class="btn btn-info">Фильтровать</button>
    </form>

    <form action="/teachers/delete-all" method="post" class="mt-2">
        <button type="submit" class="btn btn-danger" onclick="return confirm('Подтвердите полное удаление');">Удалить всех удаленных</button>
    </form>

    <nav aria-label="Page navigation example" class="mt-4">
        <ul class="pagination">
            <li class="page-item" th:classappend="${currentPage == 0} ? 'disabled' : ''">
                <a class="page-link" th:href="@{/teachers/search(page=${currentPage - 1}, name=${name}, surname=${surname}, midlename=${midlename})}" th:if="${currentPage > 0}" aria-label="Предыдущая">
                    <span aria-hidden="true">&laquo;</span>
                    <span class="sr-only">Предыдущая</span>
                </a>
            </li>
            <th:block th:each="i : ${#numbers.sequence(1, totalPages)}">
                <li class="page-item" th:classappend="${currentPage == i - 1} ? 'active' : ''">
                    <a class="page-link" th:href="@{/teachers/search(page=${i - 1}, name=${name}, surname=${surname}, midlename=${midlename})}" th:text="${i}"></a>
                </li>
            </th:block>
            <li class="page-item" th:classappend="${currentPage == totalPages - 1} ? 'disabled' : ''">
                <a class="page-link" th:href="@{/teachers/search(page=${currentPage + 1}, name=${name}, surname=${surname}, midlename=${midlename})}" th:if="${currentPage < totalPages - 1}" aria-label="Следующая">
                    <span aria-hidden="true">&raquo;</span>
                    <span class="sr-only">Следующая</span>
                </a>
            </li>
        </ul>
    </nav>
</body>
</html>